:root {
  /* Primary */
  --Red: hsl(1, 90%, 64%);
  --Blue: hsl(219, 85%, 26%);

  /* Neutral */
  --White: hsl(0, 0%, 100%);
  --Very-light-grayish-blue: hsl(210, 60%, 98%);
  --Light-grayish-blue-1: hsl(211, 68%, 94%);
  --Light-grayish-blue-2: hsl(205, 33%, 90%);
  --Grayish-blue: hsl(219, 14%, 63%);
  --Dark-grayish-blue: hsl(219, 12%, 42%);
  --Very-dark-blue: hsl(224, 21%, 14%);

  /* Google Font (500/800) */
  --Google-font: "Plus Jakarta Sans", sans-serif;
}

/* Feel free to remove these styles or customise in your own stylesheet 👍  */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

html {
  box-sizing: initial;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

::selection {
  color: #0d00ff;
  background: #ff9676;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin: 0;
  font-family: var(--Google-font);
  font-size: 1rem;
  background: hsla(205, 33%, 90%, 0.404);
}

section {
  background: var(--White);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 30px 0px 30px 0px hsla(224, 21%, 14%, 0.034);
}

p {
  margin: 0;
  margin-left: 50px;
  color: var(--Dark-grayish-blue);
}

a {
  color: var(--Very-dark-blue);
  text-decoration: none;
  font-weight: 800;
}

h2 {
  color: var(--Very-dark-blue);
}

img {
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
}

img .text__notification {
  position: relative;
}

img.chess:hover {
  cursor: pointer;
}

.mark__read {
  color: var(--Grayish-blue);
}

.flex__group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.paragraph__text {
  padding: 1.25rem 1.25rem 0.625rem 1.25rem;
  max-width: 32.187rem;
  height: 4.375rem;
  border: 1px solid hsl(218, 14%, 63%);
  border-radius: 5px;
}

.paragraph__text:hover {
  cursor: pointer;
  background: hsla(219, 85%, 26%, 0.13);
}

.time__class {
  color: var(--Grayish-blue);
}

.names__group:hover {
  cursor: pointer;
  color: var(--Blue);
}

.group__icons {
  width: 40.5rem;
  height: 4.375rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 30px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.comm__flex {
  display: flex;
  gap: 175px;
}

.light__class {
  background-color: hsla(211, 68%, 94%, 0.466);
}

.highlight_info {
  margin-left: 5px;
  color: var(--Dark-grayish-blue);
  font-weight: 800;
}

.highlight_info:hover {
  cursor: pointer;
  color: var(--Blue);
}

.text__element {
  height: 11.25rem;
}

.para {
  margin-bottom: 5px;
}

.blue__highlight {
  margin-left: 5px;
  color: var(--Blue);
  font-weight: 800;
}

.blue__highlight {
  cursor: pointer;
}

.mark__read {
  background: transparent;
  color: var(--Dark-grayish-blue);
  cursor: pointer;
  border: none;
  font-size: 1rem;
  font-weight: 500;
}

span.names__group {
  margin-right: 5px;
}

.notification__number {
  color: var(--White);
  background-color: var(--Blue);
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  font-size: 1rem;
}

.circle {
  width: 7px;
  height: 7px;
  display: block;
  background-color: var(--Red);
  border-radius: 100%;
  margin-left: 5px;
  align-self: center;
}

.flex__notification {
  display: flex;
  gap: 5px;
}

@media (max-width: 27em) {
  body {
    background: var(--White);
  }

  section {
    width: 21rem;
    margin-left: -17px;
    box-shadow: none;
  }

  .flex__group {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
  }

  .paragraph__text {
    box-sizing: border-box;
    max-width: 18.75rem;
    height: 9rem;
  }

  .group__icons {
    max-width: 100%;
    display: flex;
    padding: 5px 10px 5px 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }

  .text__element {
    height: 15.625rem;
  }

  .comm__flex {
    display: flex;
    justify-content: space-between;
    gap: 60px;
  }

  .chess {
    margin-left: -40px;
  }

  .circle {
    float: inline-end;
    display: block;
    align-self: center;
    margin-top: 10px;
    margin-left: 0;
  }

  .flex__notification {
    max-width: 100%;
    display: block;
    flex-direction: column;
  }

  .names__group {
    margin-right: 5px;
  }
}
